# overlays/qa/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base

resources: # <--- Bloque 'resources' añadido aquí
- qa-secrets.yaml # <--- 'qa-secrets.yaml' listado como recurso

configMapGenerator:
- name: solmar-config-qa
  files:
  - qa-config.properties

# Aplica el parche de entorno para todos los Deployments
patches:
- path : common-env-patch.yaml
  target:
    kind: Deployment

# Aplica los patches de imagen y réplicas
patchesStrategicMerge:
- image-tags.yaml
- replicas.yaml