# overlays/qa/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
- files:
  - qa-config.properties
  name: solmar-config-qa

# Genera el Secret leyendo el archivo .env (Kustomize lo codifica por ti)
secretGenerator:
- envs:
  - qa-secrets.env
  name: solmar-secrets-qa

# Aplica el parche de réplicas
patchesStrategicMerge:
- replicas.yaml

# Aplica los parches JSON
# Aplica el parche de variables de entorno a TODOS los Deployments

# Parche específico para notifications-service
patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/envFrom
      value:
        - configMapRef:
            name: solmar-config-qa
        - secretRef:
            name: solmar-secrets-qa
  target:
    kind: Deployment
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/volumeMounts
      value:
        - name: firebase-secret-volume
          mountPath: "/etc/firebase"
          readOnly: true
    - op: add
      path: /spec/template/spec/volumes
      value:
        - name: firebase-secret-volume
          secret:
            secretName: firebase-admin-sdk
    - op: add
      path: /spec/template/spec/containers/0/env
      value:
        - name: Firebase__ServiceAccountKeyPath
          value: "/etc/firebase/firebase-adminsdk.json"
  target:
    kind: Deployment
    name: notifications-service
resources:
- ../../base
images:
- name: diurvan/solmar-backend-authservice
  newName: diurvan/solmar-backend-authservice
  newTag: f9891c3
- name: diurvan/solmar-backend-catalogservice
  newName: diurvan/solmar-backend-catalogservice
  newTag: f9891c3
- name: diurvan/solmar-backend-finanzasservice
  newName: diurvan/solmar-backend-finanzasservice
  newTag: f9891c3
- name: diurvan/solmar-backend-localizationservice
  newName: diurvan/solmar-backend-localizationservice
  newTag: f9891c3
- name: diurvan/solmar-backend-mediaservice
  newName: diurvan/solmar-backend-mediaservice
  newTag: f9891c3
- name: diurvan/solmar-backend-membershipsservice
  newName: diurvan/solmar-backend-membershipsservice
  newTag: f9891c3
- name: diurvan/solmar-backend-notificationsservice
  newName: diurvan/solmar-backend-notificationsservice
  newTag: f9891c3
- name: diurvan/solmar-backend-reservationsservice
  newName: diurvan/solmar-backend-reservationsservice
  newTag: f9891c3
- name: diurvan/solmar-backend-yarpproxy
  newName: diurvan/solmar-backend-yarpproxy
  newTag: f9891c3
