# k8s/overlays/prod/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../base

configMapGenerator:
- name: solmar-config-prod
  files:
  - prod-config.properties

# Define el Secret específico para PROD
- resources: 
  - prod-secrets.yaml

# Aplica el parche de entorno para todos los Deployments
patches:
- path : common-env-patch.yaml
  target:
    kind: Deployment

# Aplica los patches de imagen y réplicas
patchesStrategicMerge:
- image-tags.yaml
- replicas.yaml