name: CD - Deploy to Kubernetes

on:
  push:
    branches:
      - develop # Despliega a QA cuando se actualiza la rama develop del config repo
      - main    # Despliega a PRO cuando se actualiza la rama main del config repo
  workflow_dispatch: # Permite ejecutar el workflow manualmente desde GitHub UI

jobs:
  deploy:
    runs-on: self-hosted # ¡IMPORTANTE! Esto le dice a GitHub que use tu runner auto-hospedado

    steps:
    - name: Checkout K8s Config Repo
      uses: actions/checkout@v4

    - name: Determine Overlay Path
      id: set_overlay_path
      run: |
        if [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
          echo "overlay_path=k8s/overlays/qa" >> "$GITHUB_OUTPUT"
          echo "environment_name=QA" >> "$GITHUB_OUTPUT"
        elif [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
          echo "overlay_path=k8s/overlays/pro" >> "$GITHUB_OUTPUT"
          echo "environment_name=PRO" >> "$GITHUB_OUTPUT"
        else
          echo "No se pudo determinar el entorno de despliegue. Saliendo."
          exit 1
        fi

    - name: Deploy to ${{ steps.set_overlay_path.outputs.environment_name }}
      run: |
        echo "Desplegando a ${{ steps.set_overlay_path.outputs.environment_name }} usando ${{ steps.set_overlay_path.outputs.overlay_path }}"
        kubectl apply -k ${{ steps.set_overlay_path.outputs.overlay_path }}
      # El kubectl aquí ya tiene acceso al clúster porque el runner está en la misma máquina
