name: CD - Deploy to Kubernetes

on:
  push:
    branches:
      - develop
      - main
  workflow_dispatch:

jobs:
  deploy-qa:
    if: github.ref == 'refs/heads/develop'
    runs-on: self-hosted-qa # <-- USA EL RUNNER DE QA
    name: Deploy to QA
    steps:
      - name: Checkout K8s Config Repo
        uses: actions/checkout@v4

      - name: DEBUG - Copy Secrets and Deploy
        run: |
          echo "--- Iniciando Despliegue a QA ---"
          echo "Servidor (Hostname): $(hostname)"
          echo "Usuario actual del runner: $(whoami)"
          
          $sourcePath = "D:\solmar-k8s-secrets\qa-secrets.env"
          $destinationPath = "${{ github.workspace }}\overlays\qa\qa-secrets.env"
          
          echo "Verificando si existe el archivo de secretos de QA: $sourcePath"
          if (Test-Path -Path $sourcePath) {
            echo "Archivo encontrado. Copiando..."
            Copy-Item -Path $sourcePath -Destination $destinationPath -Force
          } else {
            echo "ERROR: No se encontró el archivo de secretos en $sourcePath"
            exit 1
          }
          
          echo "Desplegando a QA usando overlays/qa"
          kubectl apply -k overlays/qa --validate=false

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted-prod # <-- USA EL RUNNER DE PRODUCCIÓN
    name: Deploy to Production
    steps:
      - name: Checkout K8s Config Repo
        uses: actions/checkout@v4

      - name: DEBUG - Copy Secrets and Deploy
        run: |
          echo "--- Iniciando Despliegue a Producción ---"
          echo "Servidor (Hostname): $(hostname)"
          echo "Usuario actual del runner: $(whoami)"
          
          $sourcePath = "D:\solmar-k8s-secrets\prod-secrets.env"
          $destinationPath = "${{ github.workspace }}\overlays\prod\prod-secrets.env"
          
          echo "Verificando si existe el archivo de secretos de PROD: $sourcePath"
          if (Test-Path -Path $sourcePath) {
            echo "Archivo encontrado. Copiando..."
            Copy-Item -Path $sourcePath -Destination $destinationPath -Force
          } else {
            echo "ERROR: No se encontró el archivo de secretos en $sourcePath"
            exit 1
          }
          
          echo "Desplegando a Producción usando overlays/prod"
          kubectl apply -k overlays/prod --validate=false
